* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/funddooooi.jpg");
}

.container {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat(5, 200px);
    gap: 10px;
    grid-template-areas: 'title title title'
        ' . result .'
        '. cartas .'
        '. cartas .'
        '. button .'
}

.result {
    border-radius: 10px;
    display: flex;
    grid-area: result;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 70px;
    padding-top: 5%;
    grid-area: title;
    text-align: center;

}

h2 {
    margin: 5%;
    flex-direction: row;
}

.main {

    position: relative;
    grid-area: cartas;
    display: flex;

}

.grid {

    position: absolute;
    padding: 10px;
    justify-content: center;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 110px;
    height: 110px;

}


#btn-reiniciar {
    display: none;
    grid-area: button;
    justify-content: center;
    align-items: center;
}
button {
    width: 30%;
    height: 50%;
    border-radius: 30px;
    background-color: rgb(187, 20, 20);
    font-size: 20px;


}